<div>
    <h3 style="text-align: center;">Current shifts for {{ name }}</h3>

    <table class="popup-table">
        <tr>
            <th class="popup-th">Shift No.</th>
            <th class="popup-th">Day</th>
            <th class="popup-th">Start</th>
            <th class="popup-th">End</th>
            <th class="popup-th">Edit</th>
        </tr>
        {% for id,day,start_time,end_time in shifts%}
        <tr>
            <td class="popup-td">{{ id }}</td>
            <td class="popup-td">{{ day }}</td>
            <td class="popup-td">{{ start_time }}</td>
            <td class="popup-td">{{ end_time }}</td>
            <td class="popup-td"><input type="submit" value="Edit" onclick='show_edit_menu("{{ id }}")'></td>
            <td class="popup-td"><input type="submit" value="Delete" onclick='delete_shift("{{ id }}")'></td>
        </tr>
        {% endfor %}  
    </table>

    <form action="/create_shift" method="post" style="padding-bottom: 8px;">
        <input type="hidden" name="name" id="name" value="{{ name }}">
        <input type="submit" value="Create blank shift">
    </form>

    <div id="update_shifts_menu" style="display: none; text-align:left;">
        <form action="/update_shifts" method="post">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date"> <br>
            <label for="from_time">From hour:</label>
            <input type="time" name="from_time" id="from_time"> <br>
            <label for="to_time">To hour:</label>
            <input type="time" name="to_time" id="to_time"><br>
            <input type="hidden" name="employee_name" id="employee_name" value="{{ name }}">
            <input type="hidden" name="shift_id" id="form_shift_id" value="{{ id }}">
            <input type="submit" value="Submit changes">
        </form>
    </div>
</div>
