<div>
    <h3>Enter availability for {{ name }} {{ surname }}</h3>
    
    <form action="/update_availability" method="post">
        <table>
            <tr>
                <th>Time</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            <tr>
                <td><b>Days</b></td>
                {% set days = ['mon','tue','wed','thu','fri','sat'] %}
                {% for time in availability %}
                    {% if time == "" %}
                        <td><input type="checkbox" name="{{days[loop.index0]}}" id="{{days[loop.index0]}}" value="True" onclick="toggle_option('{{days[loop.index0]}}')"></td>
                    {%else %}
                        <td><input type="checkbox" name="{{days[loop.index0]}}" id="{{days[loop.index0]}}" value="True" onclick="toggle_option('{{days[loop.index0]}}')" checked></td>
                    {% endif %}
                {% endfor %}

            </tr>
            <tr style="text-align: center;">
            <td><b>Start</b></td>
            {% for time in availability %}
                    {% set time_list = time.split('-') %}
                    {% if time == "" %}
                        <td><input type="time" name="{{days[loop.index0]}}Start" id="{{days[loop.index0]}}Start" value="False" disabled></td>
                        {%else %}
                        <td><input type="time" name="{{days[loop.index0]}}Start" id="{{days[loop.index0]}}Start" value="{{time_list[0]}}"></td>
                    {%endif%}
                {% endfor %}
            </tr>
            <tr style="text-align: center;">
                <td><b>End</b></td>
            {% for time in availability %}
            {% set time_list = time.split('-') %}
                {% if time == "" %}
                <td><input type="time" name="{{days[loop.index0]}}End" id="{{days[loop.index0]}}End" value="False" disabled></td>
                {% else %}
                <td><input type="time" name="{{days[loop.index0]}}End" id="{{days[loop.index0]}}End" value="{{time_list[1]}}"></td>
                {% endif %}
                {% endfor %}
            </tr>
            
        </table>
        <input type="submit" value="Submit availability">
        <input type="hidden" name="surname" id="surname" value="{{surname}}">
        <input type="hidden" name="name" id="name" value="{{name}}">
    </form>
</div>