<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body>

     {% for name,surname in employee_list %}
    <div class="employee-box">
        <div class="employee-info">
            <div class="name">{{ name }}</div>
            <div class="surname">{{ surname }}</div>
        </div>
        <div class="action-buttons">
            <button class="edit-days" name="{{ name }}" onclick="openPopup(this)">Edit availability</button>
        </div>
    </div>
    {% endfor %}

    <!-- Popup Modal -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popup-text"></p>
        </div>
    </div>

    
    
    
    
<script>
    // Function to get employee details from name and return them
async function get_details(employee_name){
    console.log(employee_name)
    const xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200){
            document.getElementById("popup-text").innerHTML = this.responseText
            console.log(this.responseText)
        }
    }
    const json = {
        "employee_name":employee_name
    }
    xhttp.open("POST", "/get_employee_details", true)
    xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
    xhttp.send(JSON.stringify(json))
}

        // Function to open the popup
function openPopup(el) {
    const employee_name = el.name
    const popup = document.getElementById("popup");
    const popupText = document.getElementById("popup-text");

    get_details(employee_name)

    // Show the popup
    popup.style.display = "flex";
}

// Function to close the popup
function closePopup() {
    const popup = document.getElementById("popup");
    popup.style.display = "none";
}

function show_edit_menu(id){
    document.getElementById("update_rota_menu").style.display = "flex"
    document.getElementById("form_shift_id").value = id
}


    </script>
</body>
</html>
