<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body>
    <div style="display: flex;">
        
        <h2><u>Employee Management</u></h1> <!-- Main heading -->
        <div class="make-employee-container"> <!-- Create Employee -->
            <h4 class="make-employee-title">Add new employee:</h4> <!-- Next to title -->
            <form action="/make_employee" method="post">
                <label class="make-employee-labels" for="name">Name:</label>
                <input class="make-employee-input" type="text" id="name" name="name">
                <label class="make-employee-labels" for="surname">Surname:</label>
                <input class="make-employee-input" type="text" id="surname" name="surname">
                <input type="Submit" value="Add">
            </form>
        </div>
        <div class="delete-employee-container"> <!-- Delete Employee -->
            <h4 class="delete-employee-title">Remove employee:</h4>
            <form action="/remove_employee" method="post">
                <label class="delete-employee-labels" for="name">Name:</label>
                <input class="delete-employee-input" type="text" id="name" name="name">
                <label class="delete-employee-labels" for="surname">Surname:</label>
                <input class="delete-employee-input" type="text" id="surname" name="surname">
                <input type="Submit" value="Remove">
            </form>
        </div>
        <div class="generate-shifts-container"> <!-- Delete Employee -->
            <h4 class="generate-shifts-container-title">Remove employee:</h4>
            <form action="/generate_shifts" method="post">
                <label class="delete-employee-labels" for="name">Name:</label>
                <input class="delete-employee-input" type="text" id="name" name="name">
                <label class="delete-employee-labels" for="surname">Surname:</label>
                <input class="delete-employee-input" type="text" id="surname" name="surname">
                <input type="Submit" value="Remove">
            </form>
        </div>
    </div>

<div class="left_div">
     {% for name,surname in employee_list %}
    <div class="employee-box">
        <div class="employee-info">
            <div class="name">{{ name }}</div>
            <div class="surname">{{ surname }}</div>
        </div>
        <div class="action-buttons">
            <button class="edit-days" name="{{ name }}" onclick="openPopup(this,'shifts','{{ surname }}')">Edit shifts</button>
            <button class="edit-days" name="{{ name }}" onclick="openPopup(this,'availability','{{ surname }}')">Edit availability</button>
            <button class="edit-days" name="{{ name }}" onclick="openPopup(this,'max_shifts', '{{ surname }}')">Edit max shifts</button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="right_div">
    <p style="margin: 1px; margin-top: 10px; margin-bottom: 7px; text-align: center; text-decoration: underline;">Current availability for employees</p>
    <div class="availability-table-container"></div>
    <table class="availability-table">
        <tr class="availability-table-element">
                <th class="availability-table-element">Employee</th>
                <th class="availability-table-element">Monday</th>
                <th class="availability-table-element">Tuesday</th>
                <th class="availability-table-element">Wednesday</th> <!-- This shit doesnt want to align and i give up -->
                <th class="availability-table-element">Thursday</th>    <!-- ok it works now lol -->
                <th class="availability-table-element">Friday</th>
                <th class="availability-table-element">Saturday</th>
                <th class="availability-table-element">Max shifts</th>
            </tr>
            {% for nameAndSurname,mon,tue,wed,thu,fri,sat,max_shifts in all_availability %}
            <tr>
                <td>{{nameAndSurname}}</td>
                <td>{{mon}}</td> <!-- insert new data into these stupid tables -->
                <td>{{tue}}</td>
                <td>{{wed}}</td>
                <td>{{thu}}</td>
                <td>{{fri}}</td>
                <td>{{sat}}</td>
                <td>{{max_shifts}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>


    <!-- Shifts Popup -->
    <div id="popup-shifts" class="popup-shifts">
        <div class="popup-content-shifts">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popup-text-shifts"></p>
        </div>

    </div>
    <!-- Availibility popup -->
    <div id="popup-availability" class="popup-availability">
        <div class="popup-content-availability">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popup-text-availability"></p>
        </div>
    </div>
    <!-- Availibility popup -->
    <div id="popup-max-shifts" class="popup-shifts">
        <div class="popup-content-shifts">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popup-text-max-shifts"></p>
        </div>
    </div>
    
    
    
<script>
    // Function to get employee details from name and return them
function get_details(employee_name){
    console.log(employee_name)
    const xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200){
            document.getElementById("popup-text-shifts").innerHTML = this.responseText
            console.log(this.responseText)
        }
    }
    const json = {
        "employee_name":employee_name
    }
    xhttp.open("POST", "/get_employee_shifts", true)
    xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
    xhttp.send(JSON.stringify(json))
}

function availability(employee_name,surname){
    console.log(employee_name)
    const xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){ // if successful
            document.getElementById("popup-text-availability").innerHTML = this.responseText
        }
    }
    const json = {"employee_name":employee_name,"employee_surname":surname}
    xhttp.open("POST", "/add_availability", true)
    xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
    xhttp.send(JSON.stringify(json))
}
function maxShifts(employee_name){
    console.log(employee_name)
    const xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){ // if successful
            document.getElementById("popup-text-max-shifts").innerHTML = this.responseText
        }
    }
    const json = {
        "employee_name":employee_name}
    xhttp.open("POST", "/max_shifts", true)
    xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
    xhttp.send(JSON.stringify(json))
}


        // Function to open the popup
function openPopup(el, type, surname) {
    console.log(type)
    const employee_name = el.name
    if (type == 'shifts'){
        const popup = document.getElementById("popup-shifts");
        const popupText = document.getElementById("popup-text-shifts");
        get_details(employee_name)
        // Show the popup
        popup.style.display = "flex";
    }
    else if (type == 'availability'){
        const popup = document.getElementById("popup-availability");
        const popupText = document.getElementById("popup-text-availability");
        availability(employee_name,surname)
        // Show the popup
        popup.style.display = "flex";
    }
    else if (type == 'max_shifts'){
        const popup = document.getElementById("popup-max-shifts")
        const popupText = document.getElementById("popup-text-max-shifts")
        maxShifts(employee_name,surname)

        popup.style.display = "flex"

    }
}

// Function to close the popup
function closePopup() {
    const popup = document.getElementById("popup-shifts")
    popup.style.display = "none"
    const popup2 = document.getElementById("popup-availability")
    popup2.style.display = "none"
    const popup3 = document.getElementById("popup-max-shifts")
    popup3.style.display = "none"
}

function show_edit_menu(id){
    document.getElementById("update_shifts_menu").style.display = "flex"
    document.getElementById("form_shift_id").value = id
}
function toggle_option(day){
    const start_time = document.getElementById(`${day}Start`)
    const end_time = document.getElementById(`${day}End`)

    start_time.disabled = !start_time.disabled
    end_time.disabled = !end_time.disabled
    
    // clears the time values in the time boxes
    start_time.value = ""
    end_time.value = ""

}
function delete_shift(id){
    const xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            console.log(`shift with id ${id} deleted`)
        }
    }
    xhttp.open("POST","/remove_shift",true)
    const json = {"shift_id":id}
    xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8")
    xhttp.send(JSON.stringify(json))
}

    </script>
</body>
</html>
